@{
    ViewBag.Title = "Home Page";
    ViewBag.Name = "Nefi Perez";
}

<body>

    <div class="text-center">
        <h1 class="display-4">@ViewBag.Name</h1>
        <img src="~/img/Fav.PNG" />
    </div>

    <br />
    <br />

    <p>
        I hope to gain at least a proficiency in working with ASP.NET Core, C#, and React.
        I especially hope that I will get good at React since will need that in the near future for my on campus job.
        I also hope that I will be able to refresh and improve upon my JavaScript skills.
    </p>

    <br />

    <p>Top 3 Jobs I hope to get after Graduation:</p>
    <ol>
        <li>Front-End Web Development</li>
        <li>Data Analyst</li>
        <li>Full Stack Developer</li>
    </ol>





</body>